@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@font-face {
  font-family: "Bulter Light";
  src: url("../fonts/butler-light.otf");
}


:root{

    /* Reset 1rem = 10px */
    font-size:10px;
  
    /* Basic colors */
    --white:#FFFFFF;
    --black:#2C2A27;

    --grey:#EDECE7;
    --orange:#EC9548;
    --clay:#535D73;
}

*,*::before,*::after{
	box-sizing:border-box;
}

body {
    margin: 0;
    font: 14px/1.4 "Roboto", sans-serif;
    color: #000;
    background: #f5f4ef;
    overflow-x: hidden;
}
  
input,
textarea,
button {
    font-family: "Roboto", sans-serif;
    outline: none;
}
  
button,
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
}
  
.btn-primary {
    width: 200px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 500;
    color: var(--white);
    border: 1px solid var(--white);
    letter-spacing: 0.23em;
    /* padding: 9px; */
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn-primary svg{
    margin-left: 15px;
}
.btn-primary:hover{
    background-color: var(--orange);
    border-color: var(--orange);
}
.btn-secondary{
    width: 160px;
    display: inline-block;
    vertical-align: middle;
    color: var(--white);
    font-size: 12px;
    /* padding: 8px; */
    font-family: "Roboto";
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.28em;
}
.btn-secondary svg{
    margin-left: 10px;
}
  
.relative {
    position: relative;
}
  
/* Flex Properties */
  
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.h-center {
    justify-content: center;
}
.h-between{
    justify-content: space-between;
}
.h-start{
    justify-content: flex-start;
}
.h-end{
    justify-content: flex-end;
}
.v-center {
    align-items: center;
}
.v-start {
    align-items: flex-start;
}
.v-end {
    align-items: flex-end;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.g-1{
    gap: 10px;
}
.g-2{
    gap:20px;
}
.g-3{
    gap:30px;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.uppercase{
    text-transform: uppercase;
}

.ml-auto {
    margin-left: auto !important;
}
.mr-auto {
    margin-right: auto;
}
.padding-0{
    padding: 0;
}
.w-full{
    width: 100%;
}
.w-3{
    width: 32%;
    max-width: 32%;
}
.w-auto{
    width: auto;
} 

.col-2{
    width: 20%;
    max-width: 20%;
}
.col-3{
    width: 33%;
    max-width: 33%;
}
.col-5{
    width: 50%;
    max-width: 50%;
}
.col-7{
    width: 70%;
    max-width: 70%;
}
.col-8{
    width: 80%;
    max-width: 80%;
}



input,
select {
    outline: none;
}

a {
    text-decoration: none;
    color: #1b2642;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}
.transition {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}
.list-none {
    margin: 0;
    padding: 0;
    list-style: none;
}

fieldset {
    border: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bulter Light", sans-serif;
    color: #9bb5c4;
    margin: 0;
    line-height: normal;
}
.letter-space{
    letter-spacing: 0.28em;
}
span{
    font-size: 12px;
}

.white{
    color: var(--white);
}
.black{
    color: var(--black);
}
.opacity-8{
    opacity: 0.8;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.container{
    max-width: 1282px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin: 0 auto;
}



h1{
    font-size: 200px;
    font-weight: 250;
}
h2{
    font-size: 64px;
    font-weight: 250;
}
h3{
    font-size: 32px;
    font-weight: 300;
}


/* Header Content */
.site-header {
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    transition: 0.5s all;
}
.site-header.sticky,
.site-header:hover{
    background-color: var(--clay);
}
.site-header nav > ul > li{
    margin: 0 30px;
}
.site-header ul li a {
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.28em;
    font-size: 12px;
}
.site-header nav > ul > li > a {
    padding: 60px 0;
}
.menu-item-has-children {
    position: relative;
}
.sub-menu{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 100px;
    padding: 10px;
    background-color: var(--white);
    top: 78px;
}
.site-header ul.sub-menu li a {
    color: var(--clay);
    margin: 10px 0;
    display: inline-block;
}
.menu-item-has-children:hover .sub-menu{
    opacity: 1;
    visibility: visible;
}


/* Hero Banner */
.hero-banner {
    position: relative;
    height: 780px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;
}
.banner-content span {
    font-size: 10px;
    font-weight: 300;
}
.banner-content h1{
    font-weight: 250;
}
.hero-banner_btn {
    margin-top: 40px;
}
.hero-banner_btn a{
    margin: 0 20px;
}

/* Other Business  */
.other-business {
    padding: 40px 0;
    background-color: rgba(237,236,231,0.5);
}
.other-content img {
    opacity: 0.5;
}

/* About Us Section */
.about-us{
    padding: 90px 0;
}
.about-content p{
    font-size: 18px;
}


/* Reservations Section */
.reservations-section {
    padding: 80px 0 20px;
    background-color: var(--grey);
}


/* Filter Section */
.filter--section {
    padding: 90px 0 100px;
}
.button-group{
    margin-bottom: 75px;
}
.filter--button {
    background-color: transparent;
    border: 0;
    margin: 0 45px;
    opacity: 0.5;
}
.filter--button.is-checked{
    opacity: 1;
}
.element-item {
    width: calc(33% - 20px);
    height: 300px;
    margin: 10px;
}
.element-item:nth-child(2){
    width: calc(67% - 20px);
    height: 620px;
}
.item-image {
    width: 100%;
    height: 100%;
    background-size: cover;
}

/* Dock 17 Menu */
.dock--menu {
    padding: 70px 0;
    background-color: var(--grey);
}
.menu--box {
    margin-top: 40px;
}
.single--box {
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 55px 35px;
    position: relative;
    transition: 0.5s all linear;
}
.single--box:hover:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    background-color: var(--black);
}
.single--box:hover{
    cursor: pointer;
    background-color: var(--white);
    border-color: var(--black);
}
.menu--list {
    padding-left: 15px;
    margin: 30px 0;
}
.menu--list li {
    width: 50%;
    margin: 8px 0;
}