@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@font-face {
  font-family: "Bulter Light";
  src: url("../fonts/butler-light.otf");
}


:root{

    /* Reset 1rem = 10px */
    font-size:10px;
  
    /* Basic colors */
    --white:#FFFFFF;
    --black:#2C2A27;

    --grey:#EDECE7;
    --orange:#EC9548;
}
  
body {
    margin: 0;
    font: 14px/1.4 "Roboto", sans-serif;
    color: #000;
    background: #f5f4ef;
    overflow-x: hidden;
}
  
input,
textarea,
button {
    font-family: "Roboto", sans-serif;
    outline: none;
}
  
button,
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
}
  
.btn-primary {
    width: 200px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 500;
    color: var(--white);
    border: 1px solid var(--white);
    letter-spacing: 0.23em;
    padding: 9px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btn-primary svg{
    margin-left: 15px;
}
.btn-primary:hover{
    background-color: var(--orange);
    border-color: var(--orange);
}
.btn-secondary{
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    color: var(--white);
    font-size: 12px;
    padding: 8px;
    font-family: "Roboto";
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.28em;
}
.btn-secondary svg{
    margin-left: 10px;
}
  
.relative {
    position: relative;
}
  
/* Flex Properties */
  
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.h-center {
    justify-content: center;
}
.h-between{
    justify-content: space-between;
}
.v-center {
    align-items: center;
}
.flex-start {
    align-items: flex-start;
}
.flex-bottom {
    align-items: flex-end;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.uppercase{
    text-transform: uppercase;
}

.ml-auto {
    margin-left: auto !important;
}
.mr-auto {
    margin-right: auto;
}

.col-3{
    width: 33%;
    max-width: 33%;
}
.col-5{
    width: 50%;
    max-width: 50%;
}

input,
select {
    outline: none;
}

a {
    text-decoration: none;
    color: #1b2642;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}
.transition {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}
.list-none {
    margin: 0;
    padding: 0;
    list-style: none;
}

fieldset {
    border: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bulter Light", sans-serif;
    color: #9bb5c4;
    margin: 0;
    line-height: normal;
}
.letter-space{
    letter-spacing: 0.28em;
}

.white{
    color: var(--white);
}
.black{
    color: var(--black);
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.container{
    max-width: 1282px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin: 0 auto;
}



h1{
    font-size: 200px;
    font-weight: 250;
}
h2{
    font-size: 64px;
    font-weight: 250;
}
h3{
    font-size: 32px;
    font-weight: 300;
}


/* Header Content */
.site-header {
    padding-top: 25px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
.site-header nav > ul > li{
    margin: 0 30px;
}
.site-header ul li a {
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.28em;
    font-size: 12px;
}
.menu-item-has-children {
    position: relative;
}
.sub-menu{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.menu-item-has-children:hover .sub-menu{
    opacity: 1;
    visibility: visible;
}


/* Hero Banner */
.hero-banner {
    position: relative;
    height: 780px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;
}
.banner-content span {
    font-size: 10px;
    font-weight: 300;
}
.banner-content h1{
    font-weight: 250;
}
.hero-banner_btn {
    margin-top: 40px;
}
.hero-banner_btn a{
    margin: 0 20px;
}

/* Other Business  */
.other-business {
    padding: 40px 0;
}
.other-content img {
    opacity: 0.5;
}